body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.menu-data-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 18rem;
  padding-left: 0;
  padding-right: 0;
}

.card-body .card-title {
  height: 72px;
  overflow: hidden;
}

.container h2 {
  text-align: center;
}

.menu-items-container {
  justify-content: space-evenly;
}

#menu-header-container{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

.meal-card-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

